@devkit:registry=https://pkgs.dev.azure.com/secureData/_packaging/devkit-frontend-2025/npm/registry/
@shory:registry=https://pkgs.dev.azure.com/secureData/_packaging/devkit-frontend-2025/npm/registry/

always-auth=true
auto-install-peers=true
